:root{
    --header-color: #0f3057;
    --header-title-color: #e7e7de;
    --border-color: #e7e7de;
    --search-color: white;
    --word-size-color: black;
    --shadow-color: #00000075;

}

.header-style{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: var(--header-color);
    border-bottom: 10px solid var(--border-color);

}

.header-title{
    font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 40px;
    color: var(--header-title-color);
}

.search-section{
    height: 90vh;
    width: 100%;
    background-color: var(--search-color);
}

.word-size-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.arrow-container{
    padding: 20px 30px;
    border: none;
    background-color: #ffffff00;
    transition: .3s all;
}

.arrow-container .left-arrow{
    margin-left: 10px;
}

.arrow-container .right-arrow{
    margin-right: 10px;
}

.arrow-container:hover{
    background-color: #9c9c9c42;
    border-radius: 5px;
}

.arrow-container:focus{
    outline: none;
}

.left-arrow{
    width: 30px;
    height: 30px;
    border: none;
    border-top: 10px solid var(--word-size-color);
    border-left: 10px solid var(--word-size-color);
    background-color: #ffffff00;
    transform: rotate(-45deg);
}

.word-size{
    padding: 0 20px;
    font-size: 50px;
    font-weight: bold;
    color: var(--word-size-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.right-arrow{
    width: 30px;
    height: 30px;
    border: none;
    border-top: 10px solid black;
    border-right: 10px solid black;
    background-color: #ffffff00;
    transform: rotate(45deg);
}